<?xml version="1.0"?>
<launch>

    <node type="waypoint_server_node.py" name="waypoint_server" pkg="waypoint_server">
        <param name="threshold_distance" value="1"/>
        <param name="gps_topic" value="/vectornav/GPS"/>
        <param name="odom_topic" value="/odom"/>
        <param name="imu_topic" value="/vectornav/IMU"/>
        <param name="publish_displacement_from_wp" value="True"/>
        <param name="generate_waypoints_from_file" value="False"/>
    </node>



    <node type="iop_node" name="iop_node" pkg="interoperability"
          args="--ojconf=$(find interoperability)/ojconf/iop_node.ojconf" output="screen">
        <param name="odom_topic" value="/odom"/>
        <param name="set_pose_service" value="/set_pose"/>
        <param name="set_max_velocity_service" value="/fake_planner/set_max_velocity"/>
        <param name="set_waypoint_service" value="/set_pose_waypoint"/>
        <param name="get_waypoint_service" value="/get_target_waypoint"/>
        <param name="max_linear_x" value="0.6"/>
        <param name="max_angular_z" value="0.8"/>
        <param name="cmd_vel_topic" value="iop/cmd_vel"/>
    </node>

</launch>
